# Android workspace prefereces
android-workspace/.metadata/*

# Android workspace temp files
android-workspace/HACK/bin/classes/*
android-workspace/HACK/gen/com/cs446project/hack/R.java
android-workspace/HACK/bin/HACK.apk
android-workspace/HACK/bin/classes.dex
android-workspace/HACK/bin/dexedLibs/
android-workspace/HACK/bin/res/
android-workspace/HACK/bin/resources.ap_
